apiVersion: v1
kind: Secret
metadata:
  name: app-secret
data:
  username: dmlub3Ro
  password: YWRtaW4xMjM=
---
apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  restartPolicy: Never
  containers:
  - name: ubuntu
    image: ubuntu
    resources:
      limits:
        memory: "512Mi"
        cpu: "500m"
      requests:
        memory: "64Mi"
        cpu: "250m"
    envFrom:
    - secretRef:
        name: app-secret
    args:
    - env
