apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  terminationGracePeriodSeconds: 1
  restartPolicy: Never
  containers:
  - name: nginx
    image: nginx
    resources:
      limits:
        memory: "512Mi"
        cpu: "500m"
      requests:
        memory: "64Mi"
        cpu: "250m"
    volumeMounts:
    - name: pod-volume
      mountPath: /usr/share/nginx/html
  volumes:
  - name: pod-volume
    persistentVolumeClaim:
      claimName: my-pvc
