kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: k8sfromscratch
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30001
    hostPort: 30001
    protocol: TCP
- role: worker
- role: worker
