apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  containers:
  - name: failing-container
    image: vinsdocker/k8s-failing-container
    resources:
      limits:
        memory: "128Mi"
        cpu: "500m"
      requests:
        memory: "64Mi"
        cpu: "250m"
