apiVersion: kind.x-k8s.io/v1alpha4

kind: Cluster

nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: 31437
        hostPort: 8080
        protocol: TCP
  - role: worker
  - role: worker
  - role: worker
