#Create a deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: web1
spec:
  selector:   
    matchLabels:
      app: web1
  replicas: 2 # number of replicas
  template:   # Template that defines the containers
    metadata:
      labels:
        app: web1
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80		
---

# _Create the service
apiVersion: v1
kind: Service
metadata:
  name: web1-svc
  labels:
     app: web1
spec:
  type: NodePort
  ports:
  - port: 80
    nodePort: 30002
    protocol: TCP
  selector:
     app: web1