apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service-deploy
spec:
  selector:
    matchLabels:
      app: order-service
  replicas: 4
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: vinsdocker/k8s-app:v2
        env:
        - name: DUMMY
          value: "8"
        - name: BUNNY
          value: "9"
        ports:
        - name: "app-port"
          containerPort: 80
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
          requests:
            memory: "64Mi"
            cpu: "250m"
